{% load webpack_loader static %}

<!DOCTYPE html>
<html lang="pl" xml:lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    {% block style %}
        {% stylesheet_pack 'app' %}
        {% block extra_style %}{% endblock extra_style %}
    {% endblock style %}
</head>
<body>

{% block content %}
    <div class="container mt-4">
        {% block container %}
            <div class="jumbotron py-5">
                <div class="container">
                    <h1 class="display-3">Hello, world!</h1>
                    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>

                    <div class="d-flex justify-content-center">
                        <img
                                src="{% static 'vendors/images/webpack.png' %}"
                                class="img-fluid"
                                alt="webpack logo"
                        />
                    </div>

                </div>
            </div>
        {% endblock container %}
    </div>
{% endblock content %}
{% block js %}
    {% javascript_pack 'app' 'app2' attrs='charset="UTF-8"' %}
    {% block extra_js %}{% endblock extra_js %}
{% endblock js %}
</body>
</html>
