{% extends "base.html" %}
{% load i18n %}

{% translate "Beds List" as title %}
{% block container %}
    <table class="table">
        <caption>{% translate "Beds List" %}</caption>
        <thead class="thead-light">
        <tr>
            <th scope="col">{% translate "Hospital name" %}</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for bed in beds %}
            <tr>
                <td><a href="{% url 'bed-update' bed.pk %}">{{ bed.name }}</a></td>
                <td>{{ hospital.address }}</td>
                <td><a href="{% url 'bed-delete' bed.pk %}" class="btn btn-danger"
                >{% translate "Delete" %}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'bed-create' %}" class="btn btn-success">
        {% translate "Create a New Bed" %}
    </a>
{% endblock container %}
