{% extends "base.html" %}
{% load i18n %}

{% translate "Update Bed" as title %}
{% block container %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{% translate "Update Bed" %} {{ bed.name }}</h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">{% translate "Update" %}</button>
            </form>
        </div>
    </div>
{% endblock container %}
