{% extends "base.html" %}
{% load i18n %}

{% translate "Hospitals List" as title %}
{% block container %}
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">{% translate "Hospital full name" %}</th>
            <th scope="col">{% translate "Hospital address" %}</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for hospital in hospitals %}
            <tr>
                <td><a href="{% url 'hospital-update' hospital.pk %}">{{ hospital.name }}</a></td>
                <td>{{ hospital.address }}</td>
                <td><a href="{% url 'hospital-delete' hospital.pk %}" class="btn btn-danger"
                >{% translate "Delete" %}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'hospital-create' %}" class="btn btn-success">
        {% translate "Create a New Hospital" %}
    </a>
{% endblock container %}
